[Desktop Entry]

Type=Application
Name=Probe Calibration Wizard
Terminal=false
# This exec command may be different depending on the location of your
# anaconda installation and the name of the virtual environment within
# which you installed pcw on your own system, so update accordingly
# Note: if you would like a default port to be set for ZMQ, you can include it
# as the -p arguent to pcw.
Exec=bash -c "source $HOME/anaconda3/bin/activate && conda activate cdtools && pcw %F"
#Make sure to copy one of the icons to an accessible folder, such as
# $HOME/.icons, if you want the icon to work
Icon=pcw
MimeType=